<header class="header">
  <div class="page__header page-header">
    <div class="container header__inner">
      <a class="logo" href="#">
        <img
          src="./dist/images/Logo 3.png"
          alt=""
          class="logo__img logo--dark"
          width="43"
          height="41"
        />
        <img
          src="./dist/images/logo-hover 1.png"
          alt=""
          class="logo__img logo--light"
          width="43"
          height="41"
        />
        <span class="logo__text">ForkIO</span>
      </a>
      <button class="btn buy-btn">Buy Now</button>
      <nav class="menu">
        <div class="menu__hamburger">
          <span class="bar bar-1"></span>
          <span class="bar bar-2"></span>
          <span class="bar bar-3"></span>
        </div>
        <ul class="menu__list">
          <li class="menu__item list-item">
            <a href="#" class="menu__link">Overview</a>
          </li>
          <li class="menu__item list-item">
            <a href="#" class="menu__link">About Fork</a>
          </li>
          <li class="menu__item list-item">
            <a href="#" class="menu__link">Buying Options</a>
          </li>
          <li class="menu__item list-item">
            <a href="#" class="menu__link">Support</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container header__intro">
    <h1 class="header__title intro-title">Fork App</h1>
    <p class="header__decr intro-decr">
      A real gamechanger in the world of web development
    </p>
    <p class="header__ver intro-ver">v. 2.8 For Mac and Windows</p>
  </div>
  <button class="btn download-btn">Download For Free Now</button>
</header>
