<!--  //* section-editor -->
<div class="section-editor">
  <p class="revolution__sign">Unlimited 30-Days Trial Period</p>
  <div class="container">
    <div class="section-editor__title">Revolutionary editor</div>

    <div class="section-editor__text">
      Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
      vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
    </div>

    <div class="section-editor__btns-github">
      <div class="btns-github__btn">
        <div class="btns-github__btn_item">
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class=""
          >
            <path
              d="M8 2c1.981 0 3.671.992 4.933 2.078 1.27 1.091 2.187 2.345 2.637 3.023a1.62 1.62 0 0 1 0 1.798c-.45.678-1.367 1.932-2.637 3.023C11.67 13.008 9.981 14 8 14c-1.981 0-3.671-.992-4.933-2.078C1.797 10.83.88 9.576.43 8.898a1.62 1.62 0 0 1 0-1.798c.45-.677 1.367-1.931 2.637-3.022C4.33 2.992 6.019 2 8 2ZM1.679 7.932a.12.12 0 0 0 0 .136c.411.622 1.241 1.75 2.366 2.717C5.176 11.758 6.527 12.5 8 12.5c1.473 0 2.825-.742 3.955-1.715 1.124-.967 1.954-2.096 2.366-2.717a.12.12 0 0 0 0-.136c-.412-.621-1.242-1.75-2.366-2.717C10.824 4.242 9.473 3.5 8 3.5c-1.473 0-2.825.742-3.955 1.715-1.124.967-1.954 2.096-2.366 2.717ZM8 10a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 10Z"
            ></path>
          </svg>
          <p>Watch</p>
        </div>
        <p class="btns-github__number">1,397</p>
      </div>

      <div class="btns-github__btn">
        <div class="btns-github__btn_item">
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class=""
          >
            <path
              d="M8 .25a.75.75 0 0 1 .673.418l1.882 3.815 4.21.612a.75.75 0 0 1 .416 1.279l-3.046 2.97.719 4.192a.751.751 0 0 1-1.088.791L8 12.347l-3.766 1.98a.75.75 0 0 1-1.088-.79l.72-4.194L.818 6.374a.75.75 0 0 1 .416-1.28l4.21-.611L7.327.668A.75.75 0 0 1 8 .25Zm0 2.445L6.615 5.5a.75.75 0 0 1-.564.41l-3.097.45 2.24 2.184a.75.75 0 0 1 .216.664l-.528 3.084 2.769-1.456a.75.75 0 0 1 .698 0l2.77 1.456-.53-3.084a.75.75 0 0 1 .216-.664l2.24-2.183-3.096-.45a.75.75 0 0 1-.564-.41L8 2.694Z"
            ></path>
          </svg>
          <p>Star</p>
        </div>
        <p class="btns-github__number">21,038</p>
      </div>

      <div class="btns-github__btn">
        <div class="btns-github__btn_item">
          <svg
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class=""
          >
            <path
              d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z"
            ></path>
          </svg>
          <p>Fork</p>
        </div>
        <p class="btns-github__number">4,391</p>
      </div>
    </div>
  </div>
</div>

<!--  //* section-services -->
<div class="section-services">
  <div class="container">
    <div class="services__title">Here is what you get</div>

    <div class="services__items">
      <div class="services__item">
        <div class="services__img">
          <img src="./src/images/icon-search.png" alt="icon-search" />
        </div>
        <div class="services__name">Creatred to Make The Web Better</div>
        <div class="services__description">
          Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
          laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget
          ut augue.
        </div>
      </div>

      <div class="services__item">
        <div class="services__img">
          <img src="./src/images/icon-whatch.png" alt="icon-whatch" />
        </div>
        <div class="services__name">Incredibly Powerful Tool</div>
        <div class="services__description">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </div>
      </div>

      <div class="services__item">
        <div class="services__img">
          <img src="./src/images/icon-colb.png" alt="icon-colb" />
        </div>
        <div class="services__name">Experimental Stuff</div>
        <div class="services__description">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </div>
      </div>

      <div class="services__item">
        <div class="services__img">
          <img src="./src/images/icon-wat.png" alt="icon-search" />
        </div>
        <div class="services__name">Creatred to Make The Web Better</div>
        <div class="services__description">
          Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio,
          ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
          luctus. Aliquam erat volutpat.
        </div>

      </div>

    </div>

  </div>
  <source media="(max-width: 481px)" srcset="dist/images/editor300.png" />
  <img class="getter__img" src="dist/images/editor700.png" alt="editor" />
</div>
