<section class="people__section people-section">
  <div class="container">
    <h2 class="people__title people-title">People Are Talking About Fork</h2>
    <ul class="people__list">
      <li class="people__item">
        <img
          src="./dist/images/logo5 1.png"
          alt="logo1"
          class="people__logo"
          width="165px"
          height="43"
        />
        <p class="people__txt">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </li>
      <li class="people__item">
        <img
          src="./dist/images/logo6 1.png"
          alt="logo2"
          class="people__logo"
          width="148"
          height="50"
        />
        <p class="people__txt">
          Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
          rhoncus molestie neque ac, mollis eleifend nibh.
        </p>
      </li>
      <li class="people__item">
        <img
          src="./dist/images/logo7 1.png"
          alt="logo3"
          class="people__logo"
          width="64"
          height="64"
        />
        <p class="people__txt">
          In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
          fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
        </p>
      </li>
      <li class="people__item">
        <img
          src="./dist/images/logo8 1.png"
          alt="logo4"
          class="people__logo"
          width="225"
          height="24"
        />
        <p class="people__txt">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </li>
      <li class="people__item">
        <img
          src="./dist/images/logo0 1.png"
          alt="logo5"
          class="people__logo"
          width="166"
          height="34"
        />
        <p class="people__txt">
          Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
          Nulla faucibus lorem id arcu consequat faucibus.
        </p>
      </li>
      <li class="people__item">
        <img
          src="./dist/images/logo123 1.png"
          alt="logo6"
          class="people__logo"
          width="108"
          height="34"
        />
        <p class="people__txt">
          Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
          Pellentesque porttitor cursus massa et vestibulum.
        </p>
      </li>
    </ul>
    <p class="people__title-bottom">
      Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
      facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero
      tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
</section>

<!-- <div class="section-pricing">
  <div class="container">
    <div class="pricing__titile">Fork Subscription Pricing</div>

    <div class="pricing__items">
      <div class="pricing__item">
        <div class="pricing__item-name">Students</div>
        <div class="pricing__item-discription">
          <div class="pricing__item-price">29</div>
          <div class="pricing__item-period">per month</div>
          <svg
            width="60"
            height="5"
            viewBox="0 0 60 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="60" height="5" fill="#8D81AC" />
          </svg>

          <div class="pricing_item-service">Personal License</div>
          <br />

          <div class="pricing__item-btn">
            <a href="#" class="picing__item-btn__text">purchase</a>
          </div>
        </div>
      </div>

      <div class="pricing__item">
        <div class="pricing__item-name">professional</div>
        <div class="pricing__item-discription">
          <div class="pricing__item-price">59</div>
          <div class="pricing__item-period">per month</div>
          <svg
            width="60"
            height="5"
            viewBox="0 0 60 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="60" height="5" fill="#8D81AC" />
          </svg>

          <div class="pricing_item-service">
            Professional License <br />
            Email Support
          </div>

          <div class="pricing__item-btn">
            <a href="#" class="picing__item-btn__text">purchase</a>
          </div>
        </div>
      </div>

      <div class="pricing__item">
        <div class="pricing__item-name">agency</div>
        <div class="pricing__item-discription">
          <div class="pricing__item-price">99</div>
          <div class="pricing__item-period">per month</div>
          <svg
            width="60"
            height="5"
            viewBox="0 0 60 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="60" height="5" fill="#8D81AC" />
          </svg>

          <div class="pricing_item-service">
            1-12 Team Members <br />
            Phone Support
          </div>

          <div class="pricing__item-btn">
            <a href="#" class="picing__item-btn__text">purchase</a>
          </div>
        </div>
      </div>

      <div class="pricing__item">
        <div class="pricing__item-name">enterprise</div>
        <div class="pricing__item-discription">
          <div class="pricing__item-price">159</div>
          <div class="pricing__item-period">per month</div>
          <svg
            width="60"
            height="5"
            viewBox="0 0 60 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="60" height="5" fill="#8D81AC" />
          </svg>

          <div class="pricing_item-service">
            Unlimited Team Members 24/7 Phone Support
          </div>

          <div class="pricing__item-btn">
            <a href="#" class="picing__item-btn__text">purchase</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
