.header{
    background: url(./images/img_1.png) center/cover no-repeat;
    position: relative;
    min-height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.page__header{
    background-color: rgba(39, 38, 42, 1);
    width: 100%;
    @media (min-width:1200px) {
        background-color: transparent;
    }
}
.page-header{
    padding-top: 32px;
    padding-bottom: 30px;
    @media (min-width:768px) {
        padding-top: 22px;
        padding-bottom: 15px;
    }
}
.header__inner{
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logo btn menu";
    gap: 50px;    
    @media (min-width: 481px) {
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "logo . btn"
        "menu menu menu";
        gap: 0; 
    }
    @media (min-width: 993px) {
        justify-items: center;
        grid-template-columns: 152px 1fr 145px;
        grid-template-rows: 1fr;
        grid-template-areas:
        "logo menu btn";
        gap: 47px;
    }
}
.logo{
    grid-area: logo;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 17px;
    .logo--dark{
        display: inline;
    }
    .logo--light{
        display: none;
    }
    &:hover{
        .logo--dark{
            display: none;
        }
        .logo--light{
            display: inline;
        }
        .logo__text{
            color: $white-color;
        }
    }
    @media (min-width:481px) {
        justify-self: start;
    }
}

.logo__text{
    display: none;
    @include font-lato(700, 'nomal');
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: $main-color;
    @media (min-width:481px) {
       display: inline;
    }
}

.btn{
    background-color: $main-color;
    @include font-montserrat(700, 'normal');
    font-size: 15px;
    line-height: 15px;
    border: none;
    border-radius: 40px;
    color: rgba(255, 255, 255, 1);

    &:hover{
        color: $main-color;
        background-color: $white-color;
        border: 1px solid $main-color;
    }

}
.buy-btn{
    grid-area: btn;
    justify-self: end;
    width: 119px;
    height: 37px;
    @media (min-width:481px){
        width: 145px;
    }
}
.menu{
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    justify-self: center;
    @media (min-width:993px){
        justify-self: end;
    }
    
}

.menu__hamburger{

    border: none;
    position: relative;
   
    @media (min-width:481px) {
        display: none;
        cursor: pointer;    
    }

}

.bar{
    display: block;
    width: 26px;
    height: 3px;
    margin: 0 auto 3px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 5px;
}

.bar-1{
    width: 15px;
    margin-right: 0;
}

.menu__hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.menu__hamburger.active .bar:nth-child(1){
    width: 26px;
    margin: 0 auto;
    border-radius: 0;
    transform: translateY(4px) rotate(45deg);
}
.menu__hamburger.active .bar:nth-child(3){
    margin: 0 auto ;
    border-radius: 0;
    transform: translateY(-4px) rotate(-45deg);
}

.menu__list{
    width: 292px;
    @include font-montserrat(400, 'normal');
    position: absolute;
    right: 0;
    top: 37px;
    gap: 0;

    display: none;
    background-color: #333333;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

    @media (min-width:481px) {
        @include font-montserrat(700, 'normal');
        background-color: transparent;
        width: auto;
        position: static;
        flex-direction: row;
        gap: 47px;
        display: flex;
        align-items: center;
        text-align: center;
    }

}

.menu__list.active{
    display: flex;
    right: 0;
}
.list-item{
    padding-left: 39px;
    padding-top: 29px;
    padding-bottom: 21px;
    @media (min-width:481px) {
        padding:0;
    }
}
.menu__item{
    width: inherit;
    border-bottom: 3px solid #3B3B3B;
    font-size: 26px;
    line-height: 38px;
    color: $white-color;
    &:hover{
        color: $main-color;
        &::after{
            content: '';
            position: absolute;
            display: block;
            border-top: 53px solid #8d81ac;
            width: 8px;
            left: 0;
            transform: translate(27%,-90%);
        }
    }

    @media (min-width:481px) {
        font-size: 16px;
        line-height: 18px;
        border:none;
        color: $main-color;
        &:hover{
            color: $white-color;
            &::after{
                content: none;
            }
        }

    }
    @media (min-width:1200px) {
        font-size: 16px;
        line-height: 15px;
    }

}
.header__intro{
    text-align: center;
}
.header__title{
    @include font-montserrat(400, 'normal');
    font-size: 48px;
    line-height: 48px;
    color: $white-color;
    @media (min-width:481px) {
        font-size: 72px;
        line-height: 72px;
    }
    @media (min-width:1200px) {
        font-size: 82px;
        line-height: 82px;
    }
}
.intro-title{
    margin-top: 50px;
    @media (min-width:481px) {
        margin-top: 69px;
    }
    @media (min-width:1200px) {
        margin-top: 120px;
    }
}

.header__decr{
    @include font-montserrat(400, 'normal');
    font-size: 18px;
    line-height: 24px;
    color: $main-color;
    text-transform: capitalize;
    @media (min-width:481px) {
        @include font-lato(400, 'normal');
        font-size: 30px;
        line-height: 30px;
        text-transform: none;
    }
}
.intro-decr{
    margin-top: 19px;
}

.header__ver{
    @include font-montserrat(400, 'normal');
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #848E97;
    @media (min-width:1200px) {
        font-size: 16px;
        line-height: 16px;
    }
}
.intro-ver{
    margin-top: 14px;
    @media (min-width:481px) {
        margin-top: 19px;
    }
}
.download-btn{
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    width: 290px;
    height: 45px;
    bottom: 0;
    transform: translateY(50%);
    @media (min-width:481px) {
        width: 390px;
        height: 62px;
        font-size: 21px;
        line-height: 22px;
    }
}
.revolution__sign{
    @include font-montserrat (400, normal);
    color: #848E97;
    font-size: $fs14;
    line-height: $lh14;
    padding-top: 136px;
}



