.revolution__sign {
  @include font-montserrat(400, normal);
  color: #848e97;
  font-size: $fs14;
  line-height: $lh14;
  padding-top: 50px;
}

//* section-editor
.section-editor {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .section-editor__title {
    @include font-montserrat(700, normal);
    color: #635c73;
    text-transform: uppercase;
    font-size: 54px;
    line-height: 54px;
    padding-top: 66px;
    text-align: center;
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 26px;
      text-align: center;
      line-height: 28px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
      font-size: 29px;
    }
  }
  .section-editor__text {
    padding-top: 33px;
    text-align: center;
    @include font-lato(400, normal);
    font-size: 21px;
    line-height: 32px;
    color: #323232;
    @media (max-width: 320px) {
      padding: 27px 0px;
    }
  }
  .section-editor__btns-github {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    @include font-lato(700, normal);
    @media (min-width: 321px) {
      flex-wrap: wrap;
      gap: 20px;
    }
    .btns-github__btn {
      display: flex;
      border: 1px solid #f5f5f5;
      border-radius: 2px;
      cursor: pointer;
      .btns-github__btn_item {
        border: 1px solid #f2f2f2;
        border-radius: 2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 3px 12px;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
      }
    }
    .btns-github__number {
      @include font-lato(400, normal);
      padding: 3px 5px;
      font-size: 12px;
      line-height: 20px;
    }
  }
}

//* section-services

.section-services {
  padding: 10px 0 35px;
  position: relative;
  background-color: #f4f4f4;
  @media (min-width: 993px) {
  }

  .services__title {
    &:before {
      content: "<";
      color: $main-color;
    }
    padding: 32px 47px 36px 43px;
    @include font-montserrat(700, normal);
    color: $main-color;
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    &:after {
      content: ">";
      color: $main-color;
    }
    @media (min-width: 480px) {
      padding: 61px 0 32px;
      font-size: 42px;
    }

    @media (min-width: 993px) {
      position: absolute;
      top: -7px;
      left: 760px;
    }
  }

  .services__items {
    padding: 37px 26px;
    .services__item {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 18px;
      text-align: center;
      &:not(:last-child) {
        padding-bottom: 37px;
      }
      @media (min-width: 480px) {
        text-align: start;
        &:not(:last-child) {
          padding-bottom: 61px;
        }
      }

      .services__name {
        @include font-montserrat(400, normal);
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        @media (min-width: 480px) {
          position: absolute;
          left: 131px;
        }
        @media (min-width: 993px) {
          position: absolute;
          left: 131px;
        }
      }

      .services__description {
        @include font-lato(400, normal);
        color: $description-color;
        font-size: 14px;
        line-height: 21px;
        @media (min-width: 480px) {
          position: absolute;
          top: 30px;
          left: 131px;
        }
        @media (min-width: 993px) {
          padding-right: 600px;
        }
      }
    }
  }
  .getter__img {
    max-width: 100%;
    height: auto;
    align-self: end;
    @media (max-width: 992px) {
      width: 100vw;
    }
    @media (min-width: 481px) {
      padding-left: 68px;
    }
    @media (min-width: 993px) {
      position: absolute;
      top: 100px;
      padding-left: 750px;
    }
  }
}

//* section-pricing

.section-pricing {
  background-color: #4b3b4e;
   
  @media (min-width: 481px) {
    background: url(./images/bg-pricing.png) center/cover no-repeat;
    
  }
  @media (min-width: 993px) {
    background: url(./images/bg-pricing.png) center/cover no-repeat;
    
  }
  color: $white-color;
  .pricing__titile {
    @include font-montserrat(700, normal);
    font-size: 28px;
    line-height: 42px;
    padding: 2px 0 32px;
    text-align: center;
    @media (min-width: 768px) {
      padding-top: 79px;
      font-size: 42px;
      line-height: 44px;
    }
    @media (min-width: 993px) {
      padding-top: 112px;
      font-size: 48px;
      line-height: 50px;
    }
  }
  .pricing__items {
    padding: 32px;
    @media (min-width: 481px) {
      display: grid;
      grid-template-columns: repeat(2, minmax(257px, 400px));
      grid-template-rows: repeat(2, 1fr);
      column-gap: 25px;
      row-gap: 80px;
    }
    @media (min-width: 993px) {
      padding-top: 61px;
      grid-template-columns: repeat(4, minmax(257px, 400px));
      grid-template-rows: repeat(1, 1fr);
    }
    .pricing__item {
      margin-bottom: 20px;
      background-color: #675a69;

      @media (min-width: 481px) {
        background-color: rgba($color: #ffffff, $alpha: 0.11);
        color: $white-color;
      }

      .pricing__item-name {
        @include font-montserrat(400, normal);
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
        padding: 36px 27px;
        text-align: center;
        @media (min-width: 481px) {
          background-color: rgba($color: #ffffff, $alpha: 0.06);
        }
        @media (min-width: 768px) {
          padding: 36px 38px;
          text-align: center;
        }
      }
      .pricing__item-discription {
        padding: 30px 0 68px;
        background-color: #5f5161;
        text-align: center;
        @media (min-width: 481px) {
          background-color: rgba($color: #ffffff, $alpha: 0.11);
        }
        @media (min-width: 993px) {
          text-align: center;
        }
        .pricing__item-price {
          &:before {
            @include font-montserrat(400, normal);
            content: "$";
          }
          text-align: center;
          @include font-montserrat(700, normal);
          font-size: 60px;
          line-height: 62px;
          padding-bottom: 20px;
        }
        .pricing__item-period {
          @include font-montserrat(400, normal);
          font-size: 14px;
          line-height: 16px;
          text-transform: uppercase;
          padding-bottom: 38px;
        }
        .pricing_item-service {
          @include font-montserrat(400, normal);
          font-size: 16px;
          line-height: 18px;
          padding: 30px 21px 39px;
        }
        .pricing__item-btn {
          @include font-montserrat(400, normal);
          text-transform: uppercase;
          font-size: 15px;
          line-height: 15px;
          @media (min-width: 481px) {
            padding: 70px;
          }
          @media (min-width:993px) {
            padding: 38px 25px 0px;
          }

          .picing__item-btn__text {
            background-color: #776b79;
            border-radius: 24px;
            padding: 13px 36px;
          }
        }
      }
    }
    .pricing__item_static {
      background-color: #3f2d41;
      margin: 50px 0px;
      transform: scale(1.1);
      @media (min-width: 481px) {
        margin: 0;
      }
      @media (min-width:993px) {
        margin: 0;
      }

      .pricing__item-name-static {
        @include font-montserrat(400, normal);
        text-transform: uppercase;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        padding: 43px 46px;
      }
      .pricing__item-discriptio-static {
        padding: 14px 0px 47px;
        background-color: #473249;
        text-align: center;
        .pricing__item-price-static {
          &::before {
            content: "$";
            @include font-montserrat(400, normal);
          }
          @include font-montserrat(700, normal);
          font-size: 82px;
          line-height: 84px;
          padding-bottom: 20px;
        }

        .pricing__item-period-static {
          @include font-montserrat(400, normal);
          text-transform: uppercase;
          font-size: 14px;
          line-height: 16px;
          padding-bottom: 38px;
        }
        .pricing_item-service-static {
          @include font-montserrat(400, normal);
          font-size: 16px;
          line-height: 32px;
          padding: 40px 0 83px;
        }

        .pricing__item-btn-static {
          text-transform: uppercase;
          @include font-montserrat(400, normal);
          font-size: 16px;
          line-height: 18px;
          @media (min-width: 481px) {
            padding-top: 83px;
          }

          .picing__item-btn__text-static {
            background-color: #776b79;
            border-radius: 24px;
            padding: 18px 48px;
          }
        }
      }
    }
  }
}

@import "vars";
@import "mixins";

.pricing {
  background: url(./images/bg-pricing.png) center/cover no-repeat;
  margin-top: -8px;
}

.pricing-banner {
  text-align: center;
}

.pricing__title {
  @include font-montserrat(700, normal);
  font-size: 28px;
  line-height: 42px;
  color: $white-color;
  padding-top: 14px;

  @media (min-width: 481px) {
    font-size: 42px;
    line-height: 44px;
    padding-top: 88px;
  }
  @media (min-width: 993px) {
    font-size: 48px;
    line-height: 50px;
    padding-top: 112px;
  }
}

.pricing__list {
  padding: 32px 0 10px;
  display: grid;
  grid-template-columns: 257px;
  row-gap: 18px;
  justify-content: center;
  @media (min-width: 481px) {
    padding: 39px 30px 94px;
    grid-template-columns: repeat(2, 1fr);
      column-gap: 25px;
    row-gap: 30px;
    align-items: center;
  }
  @media (min-width: 993px) {
    padding: 112px 20px 144px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.pricing__item {
  padding-bottom: 30px;
  background: rgb(255, 255, 255, 0.11);
  color: $white-color;
  @media (min-width: 481px){
    height: 457px;
  }
  &--dark {
    background: rgb(70, 48, 72, 0.84);
    @media (min-width: 481px){
      height: 560px;
    }
  }
}

.pricing__package {
  @include font-montserrat(400, normal);
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 36px 0;
  background: rgb(255, 255, 255, 0.06);
  &--dark{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pricing__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__amount {
  @include font-montserrat(700, normal);
  font-size: 60px;
  line-height: 62px;
  margin: 30px 0 20px;

  &--dark {
    font-size: 82px;
    line-height: 84px;

  }

  @media (min-width: 481px) {
    line-height: 90px;
  }
}

.pricing__count {
  @include font-montserrat(400, normal);
  text-transform: uppercase;
  font-size: $fs14;
  line-height: $lh16;
  margin-bottom: 67px;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 60px;
    height: 5px;
    background-color: $main-color;
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--dark {
    margin-bottom: 85px;
    &:after {
      top: 41px;
    }
  }
}

.pricing__text {
  @include font-montserrat(400, normal);
  font-size: $fs16;
  line-height: 18px;
  margin-bottom: 27px;
  padding: 0 10px;
  &--dark {
    margin-bottom: 0;
  }
}

.pricing-btn {
  padding: 15px 37px;
  color: $white-color;
  background: rgb(255, 255, 255, 0.15);
  text-transform: uppercase;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  &--dark {
    padding: 19px 48px;
    margin-top: 73px;
    margin-bottom:40px;
  }


}